# GWT-compiled JS
src/main/webapp/VAADIN/widgetsets/*
src/main/webapp/VAADIN/gwt-*
src/main/resources/eu/livotov/labs/webskel.gwt.xml
src/main/webapp/VAADIN/themes/app/styles.css
src/main/webapp/VAADIN/themes/app/addons.scss